* {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  /* -webkit-filter: blur(10px); */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image {
  size: 10px;
}
.nextButton {
  padding: 1%;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 5%;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.nextButton:hover {
  background-color: white;
  color: black;
  box-shadow: 0 5px black;
}

.nextButton:active {
  background-color: darkblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}

.pokemon-button {
  padding: 0.5%;
  margin-top: 100px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 20px;
  text-transform: capitalize;
  border-width: 5px;
  border-color: darkblue;
  box-shadow: black 5px 10px;
}
.pokemon-button:hover {
  transition: all 0.3s linear;
  font-size: 22px;
  padding: 1%;
  box-shadow: yellow 5px 10px;
}

.poke-images {
  height: 300px;
  width: 300px;
  border: black solid 2px;
  background-size: 300px;
  padding: 3%;
  position: relative;
}

.poke-background {
  position: absolute;
  height: 300px;
  width: 300px;
  opacity: 0.5;
}
