* {
  box-sizing: border-box;
}
body {
  background-image: url(./pokemon.jpeg);
  /* -webkit-filter: blur(10px); */
  backdrop-filter: blur(10px);
}
.pokemon-image {
  size: 10px;
}
.nextButton {
  padding: 1%;
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: maroon;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.nextButton:hover {
  background-color: white;
  color: black;
}

.nextButton:active {
  background-color: maroon;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}

.pokemon-button {
  padding: 2%;
  margin-top: 100px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 20px;
  text-transform: capitalize;
}

h1 {
  margin-bottom: 50px;
}
.poke-images {
  font-size: 50vh;
}
